.searchbar{
    display: flex;
    width: 55%;
    margin: auto;
    margin-top: 15px;
}
.input{
    width: 90%;
    margin: auto;
    height: 50px;
    padding: 0px 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.searchIcon{
margin-left: -40px;
border: none;
background-color: transparent;
cursor: pointer;
}
.location{
    background-color: transparent;
 margin-right: -40px;
 border: none;
 z-index: 1;
}
#detail {
    /* border:1px solid red; */
    height: 130px;
    width: 55%;
    margin: auto;
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  #detail>div{
    /* border: 2px solid black; */
    width: 11%;
    font-weight: 600;
  }
  #detail>div:focus{
    border: 3px solid rgb(0,166,250);
  }
  .tempChart{
    padding: 10px;
    padding-top: 30px;
    width: 55%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
  }
  .tempChartTemp{
    margin: auto;
    margin-bottom: 30px;
    text-align: start;
    width: 95%;
    display: flex;
    height: 60px;
  }
  .tempChartTemp>span{
    font-size: 50px;
    font-weight: 600;
    margin-right: 15px;
    
  }
 
  .PressureHumidity{
    width: 95%;
    height: 60px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .PressureHumidity>div{
    width: 47%;
    padding: 7px;
    text-align: start;
    background-color: rgb(243,251,255);
  }
  .humidity,.pressure{
    font-weight: 600;
  }

  .sunriseSunset{
    display: flex;
    width: 95%;
    height: 60px;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
  }
 
  .sunset,.sunrise{
font-weight: 600;
  }

  .spinner{
    width: 50%;
    height: 300px;
    margin: auto;
    margin-top: 100px;
  }

  @media screen and (max-width: 600px){
    #detail>div{
      /* border: 2px solid black; */
      width: 11%;
      font-weight: 600;
      font-size: 10px;
    }
    .tempChartTemp{
      height: 30px;
    }
    .tempChartTemp>span{
      font-size: 18px;
      font-weight: 600;
      margin-right: 5px;

    }
    .PressureHumidity, .sunriseSunset{
      font-size: 12px;
    }
  }